.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
  left: auto;
  top: auto;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance):global(.__wab_instance) {
    height: 123px;
  }
}
.sliderCarousel:global(.__wab_instance) {
  width: 800px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
}
.freeBox___3AQwM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zvv0D {
  object-fit: cover;
  max-width: 100%;
}
.img__zvv0D > picture > img {
  object-fit: cover;
}
.freeBox__iuNRd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7GIjv {
  object-fit: cover;
  max-width: 100%;
}
.img___7GIjv > picture > img {
  object-fit: cover;
}
.freeBox__rHzBg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1IUh {
  object-fit: cover;
  max-width: 100%;
}
.img___1IUh > picture > img {
  object-fit: cover;
}
.freeBox__a9Ir {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wCI0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__bzMbh {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.button__amqQc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qDrOk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qeeX5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iLy2G {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iLy2G {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.bookCard__nsgo2:global(.__wab_instance) {
  position: relative;
}
.img__ikIBb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__ikIBb > picture > img {
  object-fit: cover;
}
.bookCard__m1Sxr:global(.__wab_instance) {
  position: relative;
}
.img__gMwP8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gMwP8 > picture > img {
  object-fit: cover;
}
.bookCard___075I8:global(.__wab_instance) {
  position: relative;
}
.img__piqj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__piqj > picture > img {
  object-fit: cover;
}
.bookCard___2Ff8:global(.__wab_instance) {
  position: relative;
}
.img__cIa0K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cIa0K > picture > img {
  object-fit: cover;
}
.bookCard__t1Bg:global(.__wab_instance) {
  position: relative;
}
.img__i6Wao {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i6Wao > picture > img {
  object-fit: cover;
}
.freeBox__zjPah {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cHho3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__nzOj {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.button__cn3Ua:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nzJ8A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lblMw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__by709 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__by709 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.bookCard___26Ydd:global(.__wab_instance) {
  position: relative;
}
.img___88HUp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___88HUp > picture > img {
  object-fit: cover;
}
.bookCard__qd6X2:global(.__wab_instance) {
  position: relative;
}
.img__fVO2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fVO2 > picture > img {
  object-fit: cover;
}
.bookCard__dos1:global(.__wab_instance) {
  position: relative;
}
.img__tXnFd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tXnFd > picture > img {
  object-fit: cover;
}
.bookCard__qgfnz:global(.__wab_instance) {
  position: relative;
}
.img___5Iy7H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5Iy7H > picture > img {
  object-fit: cover;
}
.bookCard__ox2No:global(.__wab_instance) {
  position: relative;
}
.img__w29LP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__w29LP > picture > img {
  object-fit: cover;
}
.freeBox___9GkEv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__l6ZU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__aDyJv {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.button__bhp70:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gSiLc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b7T29 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___4Hkw0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Hkw0 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.bookCard__wsRr:global(.__wab_instance) {
  position: relative;
}
.img__d2Ibn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__d2Ibn > picture > img {
  object-fit: cover;
}
.bookCard__qpTOp:global(.__wab_instance) {
  position: relative;
}
.img__sbcuf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__sbcuf > picture > img {
  object-fit: cover;
}
.bookCard__gEwsb:global(.__wab_instance) {
  position: relative;
}
.img__d3M7D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__d3M7D > picture > img {
  object-fit: cover;
}
.bookCard__eSsx:global(.__wab_instance) {
  position: relative;
}
.img__lozu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lozu > picture > img {
  object-fit: cover;
}
.bookCard___4Rtnz:global(.__wab_instance) {
  position: relative;
}
.img__zKpv1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zKpv1 > picture > img {
  object-fit: cover;
}
.freeBox__eK29 {
  position: relative;
  width: 336px;
  height: 50px;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eK29 {
    display: block;
  }
}
